.main-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar buttons";
}