.movieGrid{
    display: grid;
    grid-gap: 30px;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto); */
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
}