.movieGrid {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    margin: 6em;
  }
  
  .grid-item {
    grid-area: content;
  }
  
  .movie_link {
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  